
<div class="form-group row ">
  <label for="search" class="col-sm-2 col-form-label" style="text-align: right;"></label>
  <div class="col-sm-6 " > 
    <input type="text" class="form-control" placeholder="Search.."   >
  </div>
</div>



<div class="row p-4">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading"> {{ recipe.title }}</h4>
        <p class="list-group-item-text">Ingredients: {{ recipe.ingredients }}</p>
      </div>
      <span class="pull-right">
        <img src={{recipe.thumbnail}} alt="{{ recipe.name }}"  style="max-height: 50px;">
      </span>

    </a>

  </div>
</div>
